.about {
    font-family: $montserrat;
    font-size: 18px;
    padding-top: 100px;

    .title-holder {
        padding-top: 30px;
        margin-bottom: 89px;

        @include breakpoint('md') {
            margin-bottom: 60px;
        }
    }

    .card {
        padding-top: 57px;
        margin-bottom: 140px;

        @include breakpoint('lg') {
            padding: 0;
            margin-bottom: 90px;
        }

        &:last-of-type {

            .img-holder {
                order: 2;

                @include breakpoint('sm') {
                    order: 0;
                }
            }

            .text-holder {
                padding: 60px 50px 0 0;

                @include breakpoint('md') {
                    padding: 30px 20px 0 0;
                }

                @include breakpoint('sm') {
                    padding: 15px 0;
                }
            }
        }

        .img-holder {
            width: 55%;

            @include breakpoint('sm') {
                width: 80%;
                margin: 0 auto;
            }
        }

        .text-holder {
            width: 45%;
            padding: 60px 0 0 70px;

            @include breakpoint('md') {
                padding: 30px 0 0 20px;
            }

            @include breakpoint('sm') {
                width: 80%;
                padding: 15px 0;
                margin: 0 auto;
            }

            .card-title {
                margin-bottom:19px;

                @include breakpoint('md') {
                    font-size: 36px;
                }

                @include breakpoint('sm') {
                    font-size: 32px;
                }

            }

            .card-text {
                line-height: 30px;
                margin-bottom: 41px;

                @include breakpoint('md') {
                    font-size: 16px;
                    line-height: 25px;
                }
            }

            .btn {
                display: block;
                max-width: 200px;
                padding: 16px 41px;
                margin-bottom: 60px;
                transition: all ease-in-out 0.3s;

                @include breakpoint('lg') {
                    margin-bottom: 40px;
                }

            }

            .map-link {
                font-family: $open-sans;
                font-size: 15px;
                color: #000;
                transition: all ease-in-out 0.3s;

                &:hover {
                    color: $light-blue;
                }
            }
        }

    }
}