.gallery {
    padding: 140px 0;
    text-align: center;

		&__title {
            position: relative;
            margin: 0 0 85px;
            font-family: $montserrat;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            text-align: center;
            color: $navy;

            &::after {
                content: "";
                position: absolute;
                top: -30px;
                left: 50%;
                width: 100px;
                height: 1px;
                transform: translateX(-50%);
                background-color: $navy;

            }
		}

		&__img-holder {
            width: calc(50%);
            padding: 5px;

			&_flex {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0;
			}

            &_main {
                @include breakpoint(md){
                    width: 100%;
                }
            }
            
		}

        .container_flex {
            margin-bottom: 75px;
        }
}
