.header{
    position: absolute;
    // width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 53px 0;
    // overflow: hidden;

    &.active{
        nav{
            transform: translateX(0);
        }
        .nav-opener{
            span{
                transform: translate(-50%,-50%) rotate(45deg);
            }

            &::before{
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%) rotate(45deg);
            }

            &::after{
                bottom:50%;
                left:50%;
                transform: translate(-50%, 50%) rotate(-45deg);
            }
        }
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        max-width: 240px;

        @include breakpoint ('lg'){
            max-width: 180px;
        }
        @include breakpoint ('md'){
            max-width: 150px;
        }
    }

    .logo-link{
        max-width: 241px;

        @include breakpoint ('lg'){
            max-width: 150px;
        }
    }
}

.nav{
    // margin: 0 -70px;

    @include breakpoint ('md'){
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        // width: 100%;
        z-index: 2;
        transform: translateX(-100%);
        transition: all ease-in-out 0.3s;
        // margin: 0 -115px;
    }

    &-list{
        display: flex;
        flex-wrap: wrap;
        color:$white;

        @include breakpoint ('md'){
            display: flex;
            flex-direction: column;
            margin: 0 0 20px;
            width: 100%;
        }
    }

    &-item{
        position: relative;
        padding: 0 70px 0 0;

        @include breakpoint ('md'){
            // width: 100%;
            padding: 0;
        }

        &:hover .nav-link::before {
            content: '';
            top: 3px;
            left: -14px;
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid white;
            border-radius: 5px;
            background-color: white;

            @include breakpoint ('md'){
                display: none;
            }
        }

        &:before {
            content: '';
            top: 3px;
            left: -14px;
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid white;
            border-radius: 5px;

            @include breakpoint ('md'){
                display: none;
            }
        }
    }

    &-link{
        color: $white;

        @include breakpoint ('md'){
            display: block;
            text-align: center;
            // padding: 10px;
            padding: 20px 0;
        }
    }
}

.social-header{
    // margin:0 -20px;
    @include breakpoint ('lg'){
        display: none;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
    }

    &-item{
        padding: 0 20px;
    }

    &-link{
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 11px 15px;
    }
}

.nav-opener{
    display: none;

    @include breakpoint ('md'){
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 30px;
        height: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 3;
    }

    &::before{
        content: '';
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        transition: all ease-in-out 0.3s;
    }

    &::after{
        content: '';
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        transition: all ease-in-out 0.3s;
    }

    span{
        width: 30px;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        transition: all ease-in-out 0.3s;
    }
}




