// Main colors
$navy: #2c4058;
$light-blue: #55b7ff;
$violet: #7e5aff;
$white: #fff;

// Main fonts
$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;
$source-sans: "Source Sans Pro", sans-serif;
