@import 'mixins';
@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: $open-sans;
    color: $navy;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}
